<div class="dashboard">
  <div class="div">
    <div class="overlap">
      <div class="overlap-group">
        <img class="image" src="img/image-9.png" />
        <div class="text-wrapper">Router</div>
        <div class="group">
          <p class="in-stock"><span class="span">In stock</span> <span class="text-wrapper-2">: 34</span></p>
          <p class="sold"><span class="span">Sold</span> <span class="text-wrapper-2">: 34</span></p>
          <p class="model-cisco-ASR">
            <span class="span">Model</span> <span class="text-wrapper-2">: Cisco ASR 9000 Router</span>
          </p>
          <p class="price"><span class="span">Price</span> <span class="text-wrapper-2">: 6,499</span></p>
          <p class="points"><span class="span">Points</span> <span class="text-wrapper-2">: 235</span></p>
        </div>
        <img class="line" src="img/line-23.svg" />
      </div>
      <div class="text-wrapper-3">Top Selling Products</div>
      <div class="overlap-2">
        <img class="img" src="img/image-10.png" />
        <div class="text-wrapper-4">Router</div>
        <div class="overlap-group-2">
          <div class="group-2">
            <p class="in-stock"><span class="span">In stock</span> <span class="text-wrapper-2">: 34</span></p>
            <p class="model-cisco-ASR">
              <span class="span">Model</span> <span class="text-wrapper-2">: Cisco ASR 9000 Router</span>
            </p>
            <p class="price"><span class="span">Price</span> <span class="text-wrapper-2">: 6,499</span></p>
            <p class="points"><span class="span">Points</span> <span class="text-wrapper-2">: 235</span></p>
          </div>
          <p class="sold"><span class="span">Sold</span> <span class="text-wrapper-2">: 34</span></p>
        </div>
        <img class="line-2" src="img/line-24.svg" />
      </div>
      <div class="view-all-products"><div class="text-wrapper-5">View all products</div></div>
    </div>
    <div class="overlap-3">
      <div class="rectangle"></div>
      <div class="text-wrapper-6">Recent Activity</div>
      <div class="text-wrapper-7">This Month</div>
      <img class="vector" src="img/vector-5.svg" />
      <div class="text-wrapper-8">Total Sales</div>
      <div class="text-wrapper-9">Order List</div>
      <div class="rectangle-2"></div>
      <img class="order" src="img/icons8-order-50-1-1.png" />
      <div class="text-wrapper-10">Total Orders</div>
      <div class="text-wrapper-11">56.3 %</div>
      <div class="text-wrapper-12">2308</div>
      <img class="vector-2" src="img/vector-1.svg" />
      <div class="rectangle-3"></div>
      <div class="text-wrapper-13">Total Income</div>
      <div class="text-wrapper-14">56.3 %</div>
      <div class="text-wrapper-15">₱23.00</div>
      <img class="peso-symbol" src="img/icons8-peso-symbol-64-1.png" />
      <img class="vector-3" src="img/vector-2.svg" />
      <div class="rectangle-4"></div>
      <div class="text-wrapper-16">Total Customer</div>
      <div class="text-wrapper-17">56.3 %</div>
      <div class="text-wrapper-18">265</div>
      <img class="vector-4" src="img/vector-3.svg" />
      <div class="rectangle-5"></div>
      <img class="initiate" src="img/icons8-initiate-money-transfer-100-1.png" />
      <div class="text-wrapper-19">Total Transaction</div>
      <div class="text-wrapper-20">56.3 %</div>
      <div class="text-wrapper-21">20</div>
      <img class="vector-5" src="img/vector-4.svg" />
      <img class="customer" src="img/icons8-customer-64-1.png" />
      <div class="overlap-wrapper">
        <div class="overlap-4">
          <div class="text-wrapper-22">New Orders</div>
          <div class="text-wrapper-23">Revenue February</div>
          <div class="text-wrapper-24">243</div>
          <div class="text-wrapper-25">₱23.00</div>
          <div class="text-wrapper-26">Average Revenue</div>
          <div class="div-2">
            <div class="text-wrapper-27">January</div>
            <div class="text-wrapper-27">February</div>
            <div class="text-wrapper-27">March</div>
            <div class="text-wrapper-27">April</div>
            <div class="text-wrapper-27">May</div>
            <div class="text-wrapper-27">June</div>
          </div>
          <div class="div-3">
            <div class="text-wrapper-27">5,000</div>
            <div class="text-wrapper-28">4,000</div>
            <div class="text-wrapper-28">3,000</div>
            <div class="text-wrapper-28">2,000</div>
            <div class="text-wrapper-28">1,000</div>
          </div>
          <div class="text-wrapper-29">₱13.00</div>
          <div class="text-wrapper-30">56.3 %</div>
          <img class="vector-6" src="img/vector-6.svg" />
          <div class="text-wrapper-31">56.3 %</div>
          <img class="vector-7" src="img/vector-8.svg" />
          <div class="text-wrapper-32">56.3 %</div>
          <img class="vector-8" src="img/vector-7.svg" />
          <div class="group-wrapper">
            <div class="overlap-group-wrapper">
              <div class="overlap-group-3">
                <div class="rectangle-6"></div>
                <div class="text-wrapper-33">Download PDF</div>
              </div>
            </div>
          </div>
          <div class="text-wrapper-34">Last 9 Days</div>
          <img class="vector-9" src="img/image.svg" />
        </div>
      </div>
      <div class="text-wrapper-35">Last 9 Days</div>
      <img class="vector-10" src="img/vector-9.svg" />
      <div class="text-wrapper-36">Processing</div>
      <div class="text-wrapper-37">Shipped</div>
      <div class="text-wrapper-38">Delivered</div>
      <img class="table" src="img/table-1.png" />
      <div class="rectangle-7">
        <div class="group-3">
          <div class="overlap-group-4">
            <div class="rectangle-8"></div>
            <div class="rectangle-9"></div>
          </div>
        </div>
        <div class="group-3">
          <div class="rectangle-10"></div>
          <div class="rectangle-11"></div>
        </div>
        <div class="group-3">
          <div class="rectangle-10"></div>
          <div class="rectangle-11"></div>
        </div>
        <div class="group-3">
          <div class="rectangle-10"></div>
          <div class="rectangle-11"></div>
        </div>
      </div>
    </div>
    <div class="overlap-5">
      <div class="text-wrapper-39">Top Customer</div>
      <div class="overlap-6">
        <p class="points-k"><span class="span">Points</span> <span class="text-wrapper-2">: 34k</span></p>
        <img class="image-2" src="img/image-4.png" />
        <div class="text-wrapper-40">Lorgem Bosque</div>
        <div class="text-wrapper-41">Customer since 2005</div>
      </div>
      <div class="overlap-7">
        <div class="text-wrapper-42">Customer since 2023</div>
        <p class="p"><span class="span">Points</span> <span class="text-wrapper-2">: 33k</span></p>
        <img class="image-2" src="img/image-11.png" />
        <div class="text-wrapper-43">Jamaila Paquiabas</div>
      </div>
      <div class="text-wrapper-44">View all customer</div>
    </div>
    <div class="overlap-8">
      <div class="text-wrapper-45">Upcoming Shipping</div>
      <div class="text-wrapper-46">. . .</div>
    </div>
  </div>
</div>